.container{
  display: grid;

grid-template-columns: 4fr 1fr;
   
}
.spendTime{
  width: 411px;
height: 80px;
left: 1189px;
top: 178px;
background: rgba(96, 71, 236, 0.1);
border: 1px solid #6047EC;
border-radius: 8px;
text-align: center;
}