.cover-img{
    width:90%;
  margin: 30px;
  border-radius: 20px;
}
.author-img{
  border-radius: 30px;
  width: 60px;
  height: 60px;
  left: 1540px;
  top: 52px;
}
.nameDetails{
  display: flex;
  align-items: center;
}
.nameDate{
  width: 146px;
  margin: 10px;
}
.duration{
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-left: 320px;
  display: flex;
}
.blogDetails{
  margin-left: 30px;
}
.mark{
  width: 121px;
height: 24px;
left: 320px;
top: 937px;

font-family: 'Exo 2';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-decoration-line: underline;

color: #6047EC;
}